body {
    background-image: url('https://images.unsplash.com/photo-1566041510394-cf7c8fe21800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
    background-size: auto 100vh;
    font-family: georgia;
    height: 100vh;
  }
  
.menu {
    background-color: #D8BFD8;
  }
  
.menu ul {
    display: flex;
    justify-content: space-around;
  }
  
.menu li {
    list-style: none;
  }
  
a {
    color: 	#4B0082;
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
.site-subtitle,
.site-title {
    color: 	#4B0082;
    text-align: center;
  }
  
.site-subtitle {
    font-style: italic;
  }